.sidebar-container {
    width: 300px;
    background: var(--bg-sidebar);
    height: 100vh;
    overflow-y: auto;
}

.sidebar-brand {
    padding: 40px 0px 20px 0px;
    width: 100%;
    text-align: center;
}

hr {
    width: calc(100% - 50px);
    height: 1px;
    background: var(--accent-color, #fff);
    border: none;
}

.sidebar-menu li {
    padding: 14px 0px 10px 10px;
}

.sidebar-menu li a {
    position: relative;
}

.sidebar-menu li a:hover,
.dropdown-menu li:hover {
    color: #efefef;
}

.sidebar-link {
    font-size: 1.475rem;
    color: var(--color-fff);
}

.btn-settings {
    background: transparent;
    border: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.img-settings {
    width: 30px;
    height: 30px;
    fill: var(--color-fff);
}

.dropdown-item {
    color: var(--color-fff);
}

[data-dropdown]:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    padding-left: 10px;
    display: none;
}

.sidebar-menu li.active .dropdown-menu {
    display: block;
}